<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.gyagoo.test.lec04.dao.SellerDAO">
<!-- 1 --> 
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO `seller`
 		(
 			`nickname`
 			,	`profileImageUrl`
 			,	`temperature`
 			,	`createdAt`
 			,	`updatedAt`
 		)
 		VALUES
 		(
 			#{nickname}
 			,	#{profileImageUrl}
 			,	#{temperature}
 			,	now()
 			,	now()
 		)
 	</insert>
<!-- 2 --> 
<!-- 파라미터는 다 가져오는게 일반적 -->
 	<select id="selectSeller" resultType="com.gyagoo.test.lec04.model.Seller" parameterType="map">
 		SELECT 
 			`id`
 			,	`nickname`
 			,	`profileImageUrl`
 			,	`temperature`
 			,	`createdAt`
 			,	`updatedAt`
 		FROM 
 			`seller`
 		ORDER BY
 			`id` DESC
 		LIMIT 1
 	</select>
<!-- 3 --> 	
 	<select id="findSeller" resultType="com.gyagoo.test.lec04.model.Seller" parameterType="int">
 		SELECT 
 			`id`
 			,	`nickname`
 			,	`profileImageUrl`
 			,	`temperature`
 			,	`createdAt`
 			,	`updatedAt`
 		FROM 
 			`seller`
 		WHERE
 			`id` = #{id} 	
 	</select>
</mapper>